kurigram>=2.2.25
tgrcrypto
python-dotenv
aiohttp
aiofiles
asyncpg
SQLAlchemy[asyncio]>=2.0
psutil
humanize
cachetools
tenacity
pytz
alembic
yt-dlp[default]>=2025.1.0
brotli
mutagen
pycryptodomex
websockets
guessit
